APP_HOST=127.0.0.1
APP_PORT=8000

# OpenAI Model
OPENAI_MODEL__MODEL_NAME=
OPENAI_MODEL__API_KEY=
OPENAI_MODEL__TEMPERATURE=0.2

# Prompt
PROMPT__INSIGHT_PATH=
PROMPT__INSIGHT_VERSION=

# Qdrant
QDRANT_VECTOR_STORE__PATH=
QDRANT_VECTOR_STORE__COLLECTION_NAME=fastapi-ai-backend-collection
QDRANT_VECTOR_STORE__VECTOR_SIZE=1536
QDRANT_VECTOR_STORE__DISTANCE=Cosine
QDRANT_VECTOR_STORE__EMBEDDING_MODEL=
QDRANT_VECTOR_STORE__K=2
QDRANT_VECTOR_STORE__SIMILARITY_THRESHOLD=0.4